#login-section{
    height:100vh;
    background-color: whitesmoke;
}
#login-error{
    display:none;
}
#logout-btn{
    display: none;
    position: absolute;
    top: 48px;
    z-index:100;
    background-color: #dedede;
    width: 140px;
}
.topnav{
    background-color: #2196F3;
    color:white;
}
.right-sidebar{
    height:90vh;
    z-index: -1;
    background-color: #8a8a8a;
    color:white;
}
.right-sidebar li{
    padding:10px 20px;
}
.right-sidebar li a{
    color:white;
}
.navbar {
    height: 10vh;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

